body {
  font-family: Georgia;
}
.main-header {
  background-color: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1030;
}

/* Top Logo */
.header-top {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

/* Main Nav */
.main-nav .nav-link {
  color: #1c2d59;
  font-weight: 500;
  transition: color 0.3s ease;
}

.main-nav .nav-link:hover {
  color: #f27b21;
}

/* Services Nav Bar */
.logo-img {
  width: 450px;
  height: auto;
}
.service-nav .service-link {
  color: #1c2d59;
  font-weight: 500;
  padding: 6px 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.service-nav .service-link:hover {
  background-color: #f27b21;
  color: #fff;
}

/* CTA Button */
.btn-dark-green {
  background-color: #1c2d59;
  border: none;
}

.btn-dark-green:hover {
  background-color: #f27b21;
  color: #fff;
}
/* ..............  */

/* sidebar  */

.sticky-sidebar {
  position: sticky;
  top: 110px;
  z-index: 100;
}

.sticky-sidebar .card {
  height: auto;
}

/* hero  */
.about-hero {
  width: 100%;
  padding: 0;
  margin: 0;
}

.breadcrumb-box {
  background-color: #1c2d59;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
}

.breadcrumb-box a {
  color: #fff;
  text-decoration: none;
}

.breadcrumb-box a:hover {
  text-decoration: underline;
}

.bg-white {
  transition: all 0.3s ease;
}

.bg-white:hover {
  background-color: #f5f8fc;
  box-shadow: 0 0 12px rgba(28, 45, 89, 0.2);
  /* border: 1px solid #1c2d59; */
}

/*  icon styles */
.icon-hover {
  background-color: #1c2d59;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  font-size: 0.55rem;
}

li:hover .icon-hover {
  background-color: #f27b21;
}

/* Change icon color on hover */
.bg-white:hover i {
  color: #1c2d59 !important;
}

/* .....  */
.list-group-item.active {
  background-color: #1c2d59;
  border-color: #1c2d59;
}

.card-title {
  font-size: 1rem;
  color: #1c2d59;
}

.icon-box {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

/* ul li::marker {
  content: "✔ ";
  color: #f27b21;
} */

/* ANIMATED TITLE STYLING */
.animated-title {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.animated-title.visible {
  opacity: 1;
  transform: translateY(0);
}
